@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

h1 {
    color: rgb(21, 23, 169);
}

body {
    background-color: rgba(57, 155, 12, 0.799); 
    text-align: center;

    font-family: 'Times New Roman'!important;
}

h4, h3 {
    color: rgb(21, 23, 169);
}

h2 {
    color: rgb(85, 21, 169);
}

#WEC-Stations {
    color:rgb(6, 67, 13);
}

li {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#main-header {
    font-family: "Rubik Doodle Shadow";
}

#membership-link {
    position: fixed;
    right: 10px;
    bottom: 10px;

    color: rgb(21, 23, 169);
}